@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
  }
 
  body{
    background-color: #082032;
    
    color: white;
  }

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.navbar{
    background-color: inherit;
    height: 10vh;
    width: 100%;
    /* position: fixed; */
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px white solid;
}


.navbar h1{
    font-size: 2rem;
    position: relative;
    top: 6px;
}

.navbar h2{
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Kanit', sans-serif;
    position: relative;
    bottom: 5.7px;

}
.logotxt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.logo{
    width: 5%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.logo svg{
    width: 100%;
    height: 100%;
}
h1{
    color: white;
}

#chat-area{
    background-image: url('1.png');background-size: cover;
    width: 100%;
    height: 70%;
}
/* #chat-area {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow:scroll;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: grey;
}

.input {            
    width: 100%;
}

.submit-area{
    justify-content: center;
    display: flex;
    margin: 20px auto;
    width: 80%;            
}       

textarea {
    width: 100%;
}
.submit-form{
    background-color: inherit;
    height: 13vh;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.box {
    width: 96%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.181);
    margin: 10px auto;
    border-radius: 20px 20px 0px 20px;            
}

.answer {
    background-color: aquamarine ;
    background-color: rgba(255, 255, 255, 0.181);
    border: white 2px solid;
    border-radius: 20px 20px 20px 0px; 
    
}

/* button {
    background-color: #004089;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
}  */


.submit-form{
    height: 20%;
    width: 100%;
    background-color: #082032;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
    justify-content: center;
    background-color: inherit;
    height: 13vh;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input{
    width: 65%;
    height:70%;
    background-color: transparent;
  border-radius:40px ;
  border: white 2px solid;
  color: white;
  background-color: inherit;
  padding: 10px 30px 10px 30px;
  position: relative;
  font-size: 20px;
  display: flex;
  align-items: center;
  /* bottom: 40px; */
}

.subbutton button{
  border-radius:40px ;
  height: 8vh;
  width: 10vw;
  font-size: 20px;
  margin-left: 8px;
  bottom: 40px;
  outline: 0;
  border: 0;
}

.subbutton button:hover{
    background-color: transparent;
    border: white 2px solid;
    color: white;
    transition-duration: 1s;
    transition: border-color 1s, background-color 1s, color 1s;
}